.navigation {
  &__checkbox {
    display: none;
  }

  &__btn {
    background-color: $color-white;
    height: 8rem;
    width: 8rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 35;
    border-radius: $border-radius-btn;
    box-shadow: 0 1.2rem 3.2rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: $border-radius-btn;
    position: fixed;
    top: 6.4rem;
    right: 6.4rem;
    background-image: radial-gradient(
      $color-primary--light,
      $color-primary--dark
    );
    z-index: 2;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port) {
      top: 4.4rem;
      right: 4.4rem;
    }

    @include respond(phone) {
      top: 3.4rem;
      right: 3.4rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    opacity: 0;
    width: 0;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    @include absCenter;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1.2rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2.4rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.2rem 2.4rem;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;

      transition: all 0.4s;
      display: inline-block;

      span {
        margin-right: 1.6rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1.2rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 4rem;

    &,
    &::before,
    &::after {
      width: 3.2rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon {
    &::before {
      top: -1.2rem;
    }

    &::after {
      top: 1.2rem;
    }
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;

    &::before {
      rotate: 135deg;
      top: 0;
    }

    &::after {
      rotate: -135deg;
      top: 0;
    }
  }
}
